:root {
    --bg-from-color: rgba(235, 235, 235, 1);
    --bg-to-color: rgba(176, 196, 222, 1);
    --main-color: rgb(51, 51, 51);
    --text-color: rgb(238, 238, 238);

    --header-height: 100px;
    --footer-height: 50px;
    --aside-width: 250px;
}

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows:
        var(--header-height) 1fr var(--footer-height);
    grid-template-areas:
        "logo header"
        "main main"
        "footer footer";
    height: 100vh;
    background: var(--bg-from-color);
    background: linear-gradient(118deg, var(--bg-from-color) 8%, var(--bg-to-color) 43%);
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

main.content {
    grid-area: main;
}

footer.footer {
    grid-area: footer;
}