h1.logo {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 5px;
    margin: 0px 20px;
    border: #555 solid 5px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 50, .5) 3px 5px 0px 0px;
}

aside.logo {
    display: flex;
    align-self: center;
}